<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
        </ul>
      </div>

      <div class="footer-col footer-col-2">
              <a href="http://kicad-pcb.org"><img src="/assets/img/kicad_logo.png" height="35"/></a> <a href="https://github.com/ {{ site.github_username }}"><img src="/assets/img/github_logo.png" height="35"/></a>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
