<table class="download">
  <tr>
    <th>Library</th>
    <th>Description</th>
    <th>Footprints</th>
    <th>Download</th>
  </tr>
{% for lib in site.footprints %}
  <tr>
    <td><a href="/footprints/{{ lib.title }}">{{ lib.title }}</a></td>
    {% capture fp_lib %}{{ lib.title }}{% endcapture %}
    <td>{% include fp_description.html name=fp_lib %}</td>
    <td align="center">{{ lib.footprintcount }}</td>
    <td><a href="/download/footprints/{{ lib.title }}.pretty.7z">{{ lib.archivesize }}</a></td>
  </tr>
{% endfor %}
</table>