<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

  {% include header.html %}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
        <h2>3D Model Library - {{ page.title }}</h1>
        <p>Description: {{ page.descr }}</p>
        <p>Models: {{ page.modelcount }}</p>
        <p>Download: <a href="/download/packages3d/{{ page.title }}.7z">{{ page.title }}.7z - {{ page.archivesize }}</a></p>
        <hr>
        {{ content }}
        <hr>
        <br>
        {% include render_date.html %}
        <br>
      <a href="/packages3d">Back</a>
        </div>
  </main>

</body>
</html>
