<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

  {% include header.html %}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
    <h2>KLC {{ page.title }}</h1>
    <p>Description: {{ page.descr }}</p>
    <p>Symbols: {{ page.symbolcount }}</p>
    <p>Download: <a href="/download/symbols/{{ page.title }}.7z">{{ page.title }}.7z | {{ page.archivesize }}</a></p>
    <hr>
    {{ content }}
    <hr>
    <br>
    {% include render_date.html %}
    <br>
    <a href="/symbols">Back</a

  </div>
  </main>

  {% include footer.html %}

</body>
</html>
